<h2>Equipped Armor</h2>
<table>
    <tr>

      <td>
        <div class="data-field clickable-open" data-open-item=""></div>
      </td>
      <td style="width: 100%;">
        <div class="input-field">
          <input
            type="text"
            name="WIP"
          />
        </div>
      </td>

      <td>
        <div class="data-field clickable-delete" data-delete-item=""></div>
      </td>
    </tr>
</table>
