<h2>Traits</h2>
<table>
  <tr>
    <th colspan="2"><p>Trait</p></th>
    <th></th>
  </tr>
  {{#if item.type == 'trait'}}
  {{#each items as |item|}}
    <tr>
      <td>
        <div class="data-field clickable-open" data-open-trait="{{item._id}}"></div>
      </td>
      <td style="width: 100%;">
        <div class="input-field">
          <input
            type="text"
            name="item.name"
            data-trait-id="{{item._id}}"
            data-update-trait="name"
            value="{{ifThen (eq item.name 'EMPTY_ITEM_NAME') '' item.name}}"
          />
        </div>
      </td>
      <td>
        <div class="data-field clickable-delete" data-delete-trait="{{item._id}}"></div>
      </td>
    </tr>
  {{/each}}
  {{/if}}
  <tr>
    <td colspan="5">
      <div class="data-field clickable-block" style="text-align: center;" data-create-trait="trait"></div>
    </td>
  </tr>
</table>
